// Place all the styles related to the PageTurners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.desk{
   position:fixed; 
   top:0; 
   left:0; 
   width:100%; 
   height:100%;
   background: image-url('desk.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.book{
        width:1152px;
        height:752px;
        top: 2%;
        margin: 0 auto; 
        position: relative;
}
.book .turn-page{
        background-color:#ccc;
        background-size:100% 100%;
}
